@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.light-mode {
  background-color: #E0E0E0;
  transition: all 0.3s;
}

/* --------------------Dark-mode css-------------------------- */
.dark-mode {
  background-color: #1A1A1A;
   
  .header {
    background-color: #111010;
    color: #f4f4f5;
  }
  .card {
    border: #f4f4f5 3px solid;
    background-color: #333333;
  }
  .formContainer {
    border: #f4f4f5 3px solid;
  }

  .header {
    border-bottom: #f4f4f5 3px solid;
  }

  .add {
    border: #f4f4f5 3px solid;
  }

  .remove {
    border: #f4f4f5 3px solid;
  }

  .formTitle{
    border: #f4f4f5 3px solid;
  }

  .submitForm {
    border: #f4f4f5 3px solid;
  }

  .weatherContainer p, .weatherContainer small {
    color: #f4f4f5;
  }

  .weatherContainer button {
    border-color: #f4f4f5;
  }

  transition: all 0.3s;
}
/* --------------------Dark-mode css-------------------------- */
.header {
  background-color: #FFB74D;
  display: flex;
  align-items: center;
  /* height: 5rem; */
  color: #1A1A1A;
  gap: 2rem;
  border-bottom: 2px solid #1A1A1A;
  justify-content: space-between;
  padding: 2rem;
  flex-wrap: wrap;
}


.header img {
  height: 4rem;
  width: 4rem;
  /* margin-right: 32vw; */
  margin-left: 4rem;
}

.header h1 {
  text-align: center;
}

@media(max-width: 768px){
  .header {
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
  }
  .header img {
    margin: 0;
  }
  .header h1 span {
    white-space: nowrap;
  }

  .header h1 {
    font-size: 1.9rem;
  }
}
.cardSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* margin-top: 4rem; */
  gap: 3rem;
  padding: 0 1rem;
  flex-grow: 1;
  flex-basis: 30%;
}

.card {
  border: 3px solid black;
  border-radius: 0.5rem;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
  background-color: #FFA500;
  color: #F5F5F5;
  /* position: relative; */
  flex-grow: 1;
  flex-basis: 40%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* position: absolute; */
  width: 100%;
  margin-bottom: -3rem;
}

.add {
  border: 2px solid #1A1A1A;
  background: #333333;
  color: #F5F5F5;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  /* margin-left: 4.5rem; */
  font-size: 2rem;
  font-weight: 800;
  /* position: relative; */
  transition: 0.3s all;
}

.add:hover {
  transform: scale(1.05) rotate(180deg);
  border-color: #F5F5F5;
}

.remove {
  border: 2px solid #1A1A1A;
  background: #333333;
  color: #F5F5F5;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  font-size: 2rem;
  font-weight: 800;
  /* position: relative; */
  transition: 0.5s all;
}

.remove:hover {
  transform: scale(1.05) rotate(180deg);
  border-color: #F5F5F5;
}

.card:hover {
  transform: scale(1.05);
}

.cardIcon {
  font-size: 30px;
  margin-bottom: 10px;
}

.cardTitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.cardDescription {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.formContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* margin: 4rem; */
  background-color: #b8b8b8;
  max-width: 35rem;
  width: 90%;
  /* height: 41rem; */
  padding: 1rem;
  border-radius: 2rem;
  border: 3px solid #1A1A1A;
  flex-grow: 1;
  flex-basis: 30%;
}

.formTitle {
  background-color: #333333;
  color: #F5F5F5;
  padding: 1rem;
  border-radius: 2rem;
  border: 3px #1A1A1A solid;
  margin-bottom: 2rem;
  /* position: absolute; */
  top: 115px;
  margin-top: -3rem;
  white-space: nowrap;
}

.formContainer label {
  display: flex;
  font-size: 20px;
  margin-top: 2rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.formContainer input {
  height: 2.2rem;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 16px;
  font-weight: 600;
}

.formContainer p {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 20px;
}

.mainContainer {
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem;
  gap: 2rem;
}

@media(max-width: 1400px) {
  .mainContainer{
    flex-direction: column;
    align-items: center;
  }
  .formContainer {
    order: -2;
  }

  .weatherContainer {
    order: -1;
  }
}

.ticketContainer {
  padding: 2rem;
}

.formContainer .error {
  border: 3px solid red;
}

.submitForm {
  background-color: #333333;
  color: #F5F5F5;
  padding: 1rem;
  border-radius: 2rem;
  border: 3px #1A1A1A solid;
}

.weatherContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  /* margin-top: 4rem; */
  flex-grow: 1;
  flex-basis: 30%;
  text-align: center;
  box-shadow: #999 0 0 10px;
  border-radius: 3rem;
  padding: 2rem;
}

.locationName {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: none;
  font-size: 1rem;
  outline: none;
}


.weatherContainer p {
  font-size: 16px;
  font-weight: 700;
  color: #1A1A1A;
}

.submitLocation {
  width: 5rem;
  height: 2rem;
  border-radius: 0.2rem;
  border: 1px solid #111010;
  color:#f4f4f5;
  background-color: #8983f7;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.2s;
}

.submitLocation:hover{
  transform: scale(1.1);
}



/* ----------------------Dark-mode button---------------------------- */
.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  --size-of-icon: 1.4em;
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}



